html
    head
        title= title
        link(rel="stylesheet", href="/css/styles.css")
    body
        div(class=["container"])
            h1(id="myH1")= title
        script(src="/js/scripts.js")